<div class="message-container <%= message.sender == current_user ? 'sender' : 'receiver' %>" data-sender="<%= message.sender.id %>" data-receiver="<%= message.receiver.id %>" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.sender.name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
