<h1>Inbox</h1>

<div class="inbox">

  <% current_user.latest_messages.each do |m| %>
  <div class="inbox-message">
    <div class="inbox-message-icon">
      <div class="inbox-message-icon-receiver">
        <%= cl_image_tag(m.receiver.photo.key, crop: :thumb, gravity: :face, class: "card-avatar-bigger receiver") %>
      </div>
      <div class="inbox-message-icon-sender">
        <%= cl_image_tag(m.sender.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "card-avatar-bigger sender") %>
      </div>
    </div>
    <div class="inbox-message-content">
      <h4 id="msg-s"><%= p m.sender.name %></h4>
      <cards-p id="msg-c"><%= p m.content.truncate(30) %></cards-p>
      <h4 id="msg-s"><%= p m.created_at.strftime("%b %e, %k:%M") %></h4>
    </div>
  </div>
  <% end %>

</div>

