<div class="booking-container">
  <div class="profile-header">
    <div class="profile-name">
      <h1>Book <%= @worker.name %></h1>
      <p>From <%= @worker.hourly_price %>€ /h</p>
    </div>
  <%= cl_image_tag(@worker.photo.key, width: 120, height: 200, crop: :fill, class: "card-avatar-bigger") %>
  </div>
  <div class="skills-container">
  <% @worker.skills.each do |skill| %>
    <span class="pill"><%= skill.name %></span>
  <% end %>
  </div> 

  <%= simple_form_for [@worker, @job], url: worker_jobs_path, remote: true, input_html: { class: 'form-group' } do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text, label: 'Describe your problem' %>
    <%= f.input :photo, as: :file, label: 'Upload an image' %>
    <%= f.association :skill, collection: @worker.skills %>
    <%#= f.input :date, as: :string, label: 'Select date', input_html: { class: 'flatpickr' } %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "flatpickr"} %>
    <%= f.input :location, label: 'Address' %>
    <div class="form-buttons">
      <%= link_to "< BACK", worker_path(params[:worker_id]), class: "button" %>
      <%= f.submit 'SEND REQUEST', class: 'button button-primary submit-btn' %>
    </div>
  <% end %>

  <!-- modal -->
  <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div id="payment-data" data-stripe-publishable-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
       data-checkout-session-id=""></div>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const dataDiv = document.getElementById('payment-data')
      const stripePublishableKey = dataDiv.dataset.stripePublishableKey;
      const checkoutSessionId = dataDiv.dataset.checkoutSessionId;

      const stripe = Stripe(stripePublishableKey);
      stripe.redirectToCheckout({
        sessionId: checkoutSessionId
      });
    });
  </script>
</div>


