<div class="booking-container">
  <div class="profile-header">
    <div class="profile-name">
      <h1>Book <%= @worker.name %></h1>
      <p>From <%= @worker.hourly_price %>€ /h</p>
    </div>
  <%= cl_image_tag(@worker.photo.key, width: 120, height: 200, crop: :fill, class: "card-avatar-bigger") %>
  </div>
  <div class="skills-container">
  <% @worker.skills.each do |skill| %>
    <span class="pill"><%= skill.name %></span>
  <% end %>
  </div>

  <%= simple_form_for [@worker, @job], url: worker_jobs_path, remote: true, input_html: { class: 'form-group' } do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text, label: 'Describe your problem' %>
    <%= f.input :photo, as: :file, label: 'Upload an image' %>
    <%= f.association :skill, collection: @worker.skills %>
    <%#= f.input :date, as: :string, label: 'Select date', input_html: { class: 'flatpickr' } %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "flatpickr"} %>
    <%= f.input :location, label: 'Address' %>
    <div class="form-buttons">
      <%= link_to "< BACK", worker_path(params[:worker_id]), class: "button" %>
      <%= f.submit 'SEND REQUEST', class: 'button button-primary submit-btn' %>
    </div>
  <% end %>


  <!-- modal -->
  <div class="modal fade" id="paymodal" tabindex="-1" role="dialog" aria-labelledby="paymodalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-centered">
        <div class="modal-header">
          <h2>Handylady payment</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body profile-header">
          <div class="job-info">
            <p><span id="job-name"></span></p>
            <p>Booking fee: <span id="payment-amount"></span> €</p>
          </div>
          <div class="image-handylady">
            <%= cl_image_tag(@worker.photo.key, width: 40, height:40, crop: :fill, class: "card-avatar") %>
            <h6><%= @worker.name %></h6>
          </div>
        </div>
         <h6 class="fee-policy"><i class="fas fa-exclamation-circle"></i> The booking fee covers the reservation of the handylady and one hour of work, if a request is rejected the booking fee is refunded</h6>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="pay-now">Pay now</button>
        </div>
      </div>
    </div>
  </div>

  <button id="pay-btn" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#paymodal">
  Launch demo modal
  </button>

  <div id="payment-data" data-stripe-publishable-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
       data-checkout-session-id=""></div>

</div>


