<h1><%= @user.name %></h1>
<div id="messages" data-current-user-id="<%= current_user.id %>" data-user-id="<%= @user.id %>">
  <% @messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>


<%= simple_form_for [ @user, @message ], remote: true, authenticity_token: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message #{@user.name}" %>
  <%= submit_tag "Send", class: "btn btn-primary" %>
<% end %>
