<div class="homepage-container">
  <div class="location">
    <h4>Barcelona <i class="fas fa-map-marker-alt"></i></h4>
  </div>

  <br>

  <div class="homepage-text">
    <h2>Choose a skill...</h2>
  </div>
  <div class="homepage-circles-container">
    <div class="homepage-circles-strip-outer">
      <%= link_to workers_path(query: "Gardening") do %>
        <div class="homepage-circle-box">
          <div class="homepage-circle">
            Gardener
          </div>
        </div>
      <% end %>
      <%= link_to workers_path(query: "Bricklayer") do %>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Bricklayer
        </div>
      </div>
      <% end %>
    </div>
    <div class="homepage-circles-strip-inner">
      <%= link_to workers_path(query: "Tiler") do %>
        <div class="homepage-circle-box">
          <div class="homepage-circle">
            Tiler
          </div>
        </div>
      <% end %>
      <div class="homepage-circle-box">
        <div class="homepage-circle center">
          <%= link_to "Other...", workers_path, class: "circle-links" %>
        </div>
      </div>
      <%= link_to workers_path(query: "Carpenter") do %>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Carpenter
        </div>
      </div>
      <% end %>
    </div>
    <div class="homepage-circles-strip-outer">
      <%= link_to workers_path(query: "Painter") do %>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Painter
        </div>
      </div>
      <% end %>
      <%= link_to workers_path(query: "Plumber") do %>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Plumber
        </div>
      </div>
      <% end %>
    </div>
  </div>

<!-- This will become an actual search bar eventually -->

  <div class="search-bar">
    <div class="search-form">
    <%= form_tag workers_path, method: :get do %>
      <%= select_tag :query,
        options_from_collection_for_select(Skill.all, "name", "name"),
        class: "form-control",
        placeholder: "Select by skill..."
      %>
    </div>
    <div class="search-button">
    <%= button_tag type: 'submit', class: "btn btn-primary sb" do %>
      <i class="fas fa-search sbb" aria-hidden="true"></i>
    <% end %>
    </div>
    <% end %>
  </div>


</div>
