<div class="profile-header">
  <div class="profile-name">
    <h1>Hi, I'm <%= @user.name %></h1>

    <p>Joined in <%= @user.created_at.strftime("%b %d, %Y") %></p>

  </div>
  <%= cl_image_tag(@user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "card-avatar-bigger") %>
</div>


<div class="pt-3 pb-4">
    <h4>Identity verified <i class="far fa-check-circle"></i></h4>
  <% if current_user.handylady? %>
    <h4><%= @user.hourly_price %> €/h</h4>
  <% end %>


  <h4><%= @user.handylady_reviews.length %> reviews</h4>
</div>

<div class="pb-3 mr-3 mt-2">
  <h2>About</h2>
  <p><%= @user.bio %></p>
  <h4> <i class="fas fa-map-marker-alt"></i> Lives in <%= @user.address %></h4>
</div>

<% if current_user.handylady? %>
  <h2>Skills:</h2>
  <div class="skills-container">
    <% @user.skills.each do |skill| %>
    <span class="pill"><%= skill.name %></span>
    <% end %>
  </div>
<% end %>



<div class="rev mt-3">
  <h2><%= @user.name %>'s reviews <%= @user.star_rating %>/5</h2>
</div>

<% @user.handylady_reviews.each do |review| %>
<div class="reviews d-flex">
  <div class="avatar mr-5">
    <!-- not sure how to get photos of the user who left the review -->
    <%= cl_image_tag(review.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "card-avatar-bigger") %>
  </div>

  <div class="review-information">
    <div>
      <h3><%= review.title %></h3>
      <div class="stars d-flex">
        <% review.star_rating.times do %>
        <i class="fas fa-star"></i>
        <% end %>

        <% (5 - review.star_rating).times do %>
        <i class="far fa-star"></i>
        <% end %>
      </div>
      <p><%= review.user.name %> on 23th Feb 2019</p>
    </div>
  </div>
</div>
<% end %>

<% if current_user.handylady? %>
  <div class="works mt-5">
    <h2><%= @user.name %>'s jobs</h2>
    <div class="portfolio d-flex">
      <div class="picture mb-3">
        <% current_user.portfolio_photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<div class="form-buttons">
  <%# , worker_path(params[:worker_id]), %>
  <%= link_to "CONTACT", chat_path(@user), class: "button" %>
  <% if @user.handylady? %>
    <%= link_to "BOOK NOW >", new_worker_job_path(@user), class: 'button button-primary submit-btn' %>
  <% end %>
</div>
